#chatPage {
    height: 100vh;
    /* overflow: hidden; */
}

.chatBox{
    /* background-image: url("../../assets/hd.jpg"); */
    /* background-color: rgb(213, 225, 243); */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.chatTextBox{
    /* background-image: url("../../assets/defaultChatBg.png"); */
    /* background-image: url("../../assets/hd.jpg"); */
    background-size: cover;
        background-position: center center;
        background-attachment: fixed;
}


.wallpaperTypes{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(120px, 1fr));
    justify-content: center;
    gap: 8px;
}

.wallpaperImageGrid{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, 120px); */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* grid-template-rows: repeat(auto-fit,  120px); */
    justify-content: center;
}

.wallpaperImageGrid img{
    /* width: 120px;
    height: 120px; */
    object-fit: cover;
    aspect-ratio: 1/0.5;
}