<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .container {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        .header {
            background-color: lightblue;
            padding: 10px;
            text-align: center;
        }

        .content {
            flex: 1;
            display: flex;
            padding: 20px;
            height: 400px;
        }

        .left {
            flex: 1;
            background-color: lightcoral;
            padding: 10px;
            display: flex;
            flex-direction: column;
            /* Scrollbar will appear if content is larger than available height */
        }

        .right {
            flex: 1;
            background-color: lightgreen;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Header</h1>
        </div>
        <div class="content">
            <div class="left">
                <!-- Left content goes here -->
                <p>This is the left content.</p>
                <p>If it is larger than the available height, a scrollbar will appear for the left div.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, odit fugiat!</p>
                <p style="flex:1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, voluptatum vero iusto
                    necessitatibus
                    in
                    nulla placeat magni voluptates aperiam autem excepturi labore accusamus assumenda itaque vel tempore
                    rem
                    odit cupiditate alias dolore laborum sint molestias! Nostrum, consequatur enim nulla itaque, beatae
                    harum nam quos quidem dolore eligendi rerum atque adipisci ipsum, eos debitis inventore recusandae?
                    Quae
                    alias fugiat temporibus quos iure fugit, ipsa porro sapiente quo totam itaque modi. Repudiandae
                    totam et
                    esse nemo iure labore impedit veritatis! Nostrum atque earum sequi eaque quisquam vero aspernatur
                    quam
                    iusto nisi corrupti. Quaerat autem nostrum dicta doloribus officia praesentium deleniti voluptatum
                    ducimus accusantium asperiores, a repellendus veniam reprehenderit earum consequuntur animi placeat
                    maxime quia ad. Dolorem eum rem dicta nostrum maiores quaerat possimus non provident, eius veniam
                    sequi?
                    Laborum cupiditate, ducimus impedit laudantium eaque omnis nemo ullam eos, ex sapiente expedita?
                    Pariatur quia architecto, sit repellat praesentium nemo ad porro et corporis voluptate doloribus
                    reiciendis iure mollitia ipsam laboriosam at commodi harum nobis quos corrupti. Fugiat velit alias
                    rem
                    atque eum sed quasi accusamus fugit excepturi, dolore, voluptate, recusandae voluptas vero non animi
                    dolorum repudiandae minima. Eveniet necessitatibus odit repellendus quisquam explicabo nulla
                    reiciendis!
                    Sequi assumenda nobis perferendis facilis quia dolor, modi nesciunt voluptatum amet debitis
                    voluptatibus
                    ut, magni hic, porro blanditiis molestias. Veniam excepturi porro eaque, atque saepe maiores
                    perferendis
                    aperiam magni repellendus nihil vero numquam ad totam magnam voluptas voluptatibus consectetur
                    debitis
                    veritatis velit vitae cupiditate est voluptatum expedita. Nulla et quia cum repellendus ipsa
                    laborum?
                    Omnis necessitatibus rem facilis fuga nihil ab, est quae magnam quo tempora ipsum, asperiores atque,
                    incidunt numquam quasi dolor hic minus repellendus quidem repudiandae. Itaque repudiandae adipisci
                    cumque? Odio eius vero nam aspernatur, harum enim cumque, dolorum culpa porro consectetur excepturi
                    tenetur, commodi praesentium placeat! Nesciunt esse, cum mollitia eos alias perferendis ducimus sit
                    perspiciatis minus, numquam quia. Quisquam vero perferendis aliquam repellat suscipit iusto id eaque
                    nesciunt ab praesentium similique, ratione dolores dolorem cupiditate quibusdam saepe nihil adipisci
                    aspernatur! Facilis deleniti doloremque placeat, molestiae maxime quidem, harum quam quisquam ea
                    cupiditate laborum recusandae hic exercitationem, nobis voluptate in. Eveniet, accusantium
                    voluptatibus
                    dolorem saepe quam officia hic nobis sequi in labore perspiciatis magnam fugiat mollitia recusandae
                    architecto corporis debitis. Vel nobis consectetur sapiente porro velit qui quasi fugit eaque
                    tempora
                    distinctio veniam, repellat reprehenderit. Laboriosam id reprehenderit quo odio reiciendis vero
                    vitae
                    maxime officia molestias, rem aperiam illum non dignissimos repellendus assumenda expedita error
                    neque
                    corporis amet nemo dolorum unde? Obcaecati maiores fugit suscipit officia laboriosam molestiae
                    nesciunt
                    ratione architecto recusandae quam! Deleniti nam aut nemo quod perspiciatis dignissimos quis quas
                    labore
                    nihil in veniam, nisi accusamus et cumque dolores blanditiis voluptates optio voluptas? Delectus
                    quos
                    saepe modi expedita cupiditate sapiente officia, labore blanditiis aspernatur earum ratione dolor
                    minus
                    odio cumque atque tempore dolorum ipsum quasi quidem tempora. Aut ipsa quos, at vel minima, ab unde
                    nostrum non velit quas nesciunt ea perferendis totam ratione minus itaque quaerat repellat maxime
                    enim
                    modi aspernatur qui iste! Quo quod laborum repudiandae. Asperiores quidem dolorem possimus numquam
                    architecto libero nemo mollitia quis error provident! Cupiditate quisquam, numquam facilis
                    exercitationem molestias veniam delectus consectetur, saepe veritatis ipsum ab, harum quae deleniti
                    adipisci deserunt asperiores itaque consequuntur similique modi eos? Corrupti, excepturi dignissimos
                    non
                    placeat ab incidunt beatae consequatur, eos architecto reiciendis eaque error sequi! In sit odio
                    minus
                    non deserunt accusantium eum blanditiis reprehenderit error facilis esse exercitationem eveniet,
                    architecto aliquam unde quis tempore doloribus dolore dolores repellat facere. Accusantium nisi,
                    mollitia recusandae nemo aliquam nesciunt ex earum sed fuga. Tenetur, hic placeat deleniti at vero
                    qui
                    voluptatibus vitae nulla cumque praesentium eius, voluptate nihil minima maiores optio numquam
                    sequi.
                    Quae ullam et, maxime mollitia beatae voluptatem sint at ipsum quasi modi velit earum odit ab qui
                    accusamus unde saepe nemo rem ratione repellat! Nam maiores possimus, sequi architecto perferendis
                    deserunt, nesciunt eos delectus pariatur a rem ratione magnam itaque distinctio, iste autem debitis!
                    Vel
                    repellat perferendis itaque quod nostrum commodi non pariatur dolore dolorum quisquam, autem nisi
                    fugit.
                    Voluptatibus officia autem iure, nihil quasi in doloribus debitis, repellendus, praesentium cum
                    cupiditate porro corporis modi. Vero consequuntur culpa fuga necessitatibus autem non possimus
                    voluptates officiis, quaerat harum distinctio earum expedita illo? Debitis quas illum sunt
                    blanditiis,
                    eveniet aspernatur vel totam saepe fugiat dignissimos corporis voluptates? Optio repellat nulla,
                    minus
                    asperiores animi ipsa odio odit architecto, sint maxime impedit quo sit commodi. Eum sequi nihil
                    alias
                    consequatur ducimus ex repellat veritatis. Quia dignissimos necessitatibus consequatur harum
                    voluptates
                    quos reiciendis ab sed laboriosam repellendus vitae id, itaque quod dicta eius voluptatibus ullam,
                    corporis nostrum aliquid fugiat dolores deleniti! Blanditiis nemo atque asperiores illo optio eius
                    soluta voluptatum, minus esse eveniet assumenda consectetur dolores sed beatae rerum consequatur at
                    qui
                    commodi animi. Officiis obcaecati illo accusantium doloremque odit ipsum sed nihil, quasi
                    blanditiis.
                    Eos dolore veritatis molestias ratione esse nihil temporibus at maxime, totam minima officiis ab
                    sunt
                    aperiam inventore distinctio maiores, ullam suscipit earum, sequi minus laborum consectetur optio
                    necessitatibus amet. Deleniti quod nostrum cupiditate totam saepe incidunt nobis ex animi provident,
                    soluta at perferendis quaerat nam sint aut rerum. Quasi dolorem illum, architecto fugiat culpa
                    doloremque nesciunt blanditiis inventore ex fuga corporis hic voluptas voluptatem consectetur
                    expedita,
                    odio est soluta vitae cum voluptatibus quis. Modi laudantium eaque, eligendi earum inventore
                    molestias
                    optio, dignissimos laborum dicta nihil iusto dolore cupiditate molestiae vitae! Illum natus debitis
                    ducimus provident incidunt. Ab, et? Molestiae facilis recusandae molestias corrupti quos in
                    voluptates
                    saepe consectetur maiores cupiditate incidunt temporibus eveniet excepturi at necessitatibus, error
                    odit
                    voluptatem repellendus nam deserunt laboriosam quas dicta. Sint magni reprehenderit quaerat deserunt
                    dolore illo alias magnam autem voluptatum, temporibus ratione debitis ab! Dolorum suscipit obcaecati
                    ad
                    dignissimos beatae doloremque fuga sit vitae, nulla ea explicabo nobis illum nisi minima rerum totam
                    maxime! Reprehenderit laborum numquam temporibus, laudantium dolores animi quam quas quibusdam dolor
                    placeat voluptas blanditiis distinctio accusantium excepturi sed itaque voluptatum suscipit modi
                    recusandae. Ducimus excepturi laboriosam quisquam accusantium in cum ad pariatur, consequatur ex
                    magni
                    velit debitis, magnam aspernatur provident atque similique commodi obcaecati molestias. Velit, id
                    libero.</p>
                <!-- Add more left content as needed -->
            </div>
            <div class="right">
                <!-- Right content goes here -->
                <p>This is the right content.</p>
                <!-- Add more right content as needed -->
            </div>
        </div>
    </div>
</body>

</html>